%nav.navbar.navbar-expand-lg.navbar-light.navbar-laravel
  .container
    = link_to t('views.navbar.site_name'), '#', class: 'navbar-brand'
    %button.navbar-toggler
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        - if user_logged_in?
          %li.nav-item
            = link_to t('views.navbar.sign_out'), '#', class: 'nav-link', method: :delete
        - else
          %li.nav-item
            = link_to t('views.navbar.sign_in'), '#', class: 'nav-link'
          %li.nav-item
            = link_to t('views.navbar.sign_up'), sign_up_path, class: 'nav-link'
